[user]
	name = Niklas Moss
	email = niklas@themossconcept.com
[merge]
	tool = nvim
[mergetool]
	keepBackup = false
[mergetool "nvim"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[init]
	defaultBranch = main
[pull]
	rebase = false
	autoSetupRemote = true
[push]
	autoSetupRemote = true
[safe]
	directory = /opt/yay-bin
